<main class="survey-container1">
	<article class="survey">
		<div class="title-container">
			<h1>{{title}}</h1>
		</div>
		<div class="questions-container">
			{{#each questions}}
			    <p class="question-text">
        			{{q}}
        		</p>
        		<div class="options-container">
        		<p class="options">
        		<input type="radio" name={{qID}} value=1>YES
        		</p>
        		<p class"options">
                <input type="radio" name={{qID}} value=2>NO
                </p>
                </div>
 


			{{/each}}
		</div>
		<div class="submit-button">
			<a href="{{resultUrl}}">    <button type="button" id="create-survey-button">Submit Survey</button></a>
		</div>
	</article>
</main>
